{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <img style="width: 100%;" src="{% static 'img/main_page/world-map.jpg' %}" alt="aquaphor world-map" />
  </div>
</div>
<div class="py-4">
  <div class="container">
    <div class="col-10 mx-auto my-2 text-center">
      <h1 class="text-capitalize font-weight-bold">
        All Products
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for i in '12345678'%}
    <div class="col-9 mx-auto col-md-6 col-lg-3">
      <div class="card mb-4">
        <div class="p-4">
          <img src="{% static 'img/product-1.jpg' %}" class="card-img-top" alt="">
        </div>

        <div class="card-footer d-flex justify-content-between">
          <p class="font-weight-bold mb-0">
            Green Jug
          </p>
          <h5 class="text-info font-italic mb-0">
            <span class="mr-1">€</span>20
          </h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- <div class="wrapper">
  <section class="categories-section">
    <h2>Discover our range of products</h2>
    <div class="categories-section__flex">
      <a class="categories-section_item" href="">
        <img class="usual-img" src="{% static 'img/main_page/Drink_water.svg' %}" alt="Drinking water filters">
        <img class="hover-img" src="{% static 'img/main_page/Drink_water_blue.svg' %}" alt="Drinking water filters">
        <p>Drinking water filters</p>
      </a>
      <a class="categories-section_item" href="">
        <img class="usual-img" src="{% static 'img/main_page/Whole_house.svg' %}" alt="Whole house filters and softeners">
        <img class="hover-img" src="{% static 'img/main_page/Whole_house_blue.svg' %}" alt="Whole house filters and softeners">
        <p>Whole house filters and softeners</p>
      </a>
      <a class="categories-section_item" href="">
        <img class="usual-img" src="{% static 'img/main_page/Commercial.svg' %}" alt="Commercial water filters">
        <img class="hover-img" src="{% static 'img/main_page/Commercial_blue.svg' %}" alt="Commercial water filters">
        <p>Drinking water filters</p>
      </a>
      <a class="categories-section_item" href="">
        <img class="usual-img" src="{% static 'img/main_page/Industrial.svg' %}" alt="Industrial and Professional solutions">
        <img class="hover-img" src="{% static 'img/main_page/Industrial_blue.svg' %}" alt="Industrial and Professional solutions">
        <p>Industrial and Professional solutions</p>
      </a>
    </div>
  </section>
</div> -->


{% endblock %}