{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#nav" type="button" name="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="header__logo">
    <a class="navbar-brand" href="/" title="Aquaphor"><img src="{% static 'img/main_page/Aquaphor_ENG.svg' %}" alt="Aquaphor"></a>
  </div>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link text-uppercase font-weight-bold px-3 dropdown-toggle" href="" data-toggle="dropdown">Store</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'home' %}">All Products</a>
          {% for category in links %}
          <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
          {% endfor %}
        </div>
      </li>
      <a class="nav-link text-uppercase font-weight-bold px-3" href="">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase font-weight-bold px-3" href="">Contacts</a>
      </li>
      {% if item_count > 0 %}
      <li class="nav-item">
        <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
          <i class="fas fa-shopping-cart"></i>({{item_count}})
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>